<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/settings.css">
</head>

<body>
    <%- include("../partials/header") %>

    <main>
        <%- include("../partials/profile-left-sidebar") %>
        <div id="content">
            <h2>Profile Security</h2>

            <form id="changePasswordForm">
                <label for="currentPassword">Current Password</label><br>
                <input type="password" id="currentPassword" name="currentPassword" required><br><br>

                <label for="newPassword">New Password</label><br>
                <input type="password" id="newPassword" name="newPassword" required><br><br>

                <label for="confirmPassword">Confirm New Password</label><br>
                <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>

                <button type="submit">Change Password</button>
            </form>

            <div id="error" style="color: red;"></div>
            <div id="message" style="color: green;"></div>
        </div>
    </main>

    <%- include("../partials/footer") %>
    <%- include("../partials/scripts") %>
    <script src="/js/changePassword.js"></script>

</body>

</html>