<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../head") %>
    <link rel="stylesheet" href="/styles/faq.css">
</head>

<body>
    <%- include("../header") %>
    <%- include("../cart-menu") %>

    <main>
        <div id="content">
            <div class="faqs">
                <% faqs.forEach(faq => { %>
                <div class="faq">
                    <div class="question">
                        <h3><%= faq.question %></h3>
                        <i class='bx bx-chevron-down'></i>
                    </div>
                    <div class="answer">
                        <p><%= faq.answer %></p>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </main>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const faqs = document.querySelectorAll(".faq");

            faqs.forEach(faq => {
                const question = faq.querySelector(".question");

                question.addEventListener("click", () => {
                    const answer = faq.querySelector(".answer");
                    answer.classList.toggle("active");

                    const chevron = question.querySelector('i.bx');
                    if (chevron) {
                        chevron.classList.toggle("rotated");
                    }
                });
            });
        });
    </script>

    <%- include("../footer") %>
    <%- include("../scripts") %>
</body>

</html>