<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../head") %>
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <%- include("../header") %>
    <%- include("../cart-menu") %>
    <main>
        <div id="content">
            Hello World, Welcome to Minishop!
        </div>
    </main>
    <%- include("../footer") %>
    <%- include("../scripts") %>
</body>

</html>